{% extends 'base.html' %}

{% block content %}
    <h1>Classes</h1>

    <p><a href="/classes/new">New Class</a></p>

    <table>
        <tr>
            <th>Class</th>
            <th></th>
            <th>Description</th>
            <th></th>
            <th>Type</th>
            <th></th>
            <th>Edit</th>
        </tr>

        {% for gym_class in gym_classes %}

        <tr>
            <td><a href="/classes/{{ gym_class.id }}">Class {{ gym_class.id }}</td>
            <td>|</td>
            <td>{{ gym_class.description }}</td>
            <td>|</td>
            <td>{{ gym_class.type }}</td>
            <td>|</td>
            <td><a href="/classes/{{ gym_class.id }}/edit"><button>Edit</button></a></td>
            <td>|</td>
            <td><form action="/classes/{{ gym_class.id }}/delete" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>

        {% endfor %}
    </table>
{% endblock content %}