{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div id="new-classes">
    <a href="/classes/new" class="submit-button">New Class</a>
<br>
<br>
    <table class="table_classes">
        <tr>
            <th>Class</th>
            <th>Description</th>
            <th>Type</th>
            <th>Edit</th>
        </tr>

        {% for gym_class in gym_classes %}

        <tr>
            <td><a href="/classes/{{ gym_class.id }}">Class {{ gym_class.id }}</td>
            <td>{{ gym_class.description }}</td>

            <td>{{ gym_class.type }}</td>

            <td><a href="/classes/{{ gym_class.id }}/edit" class="submit-button">Edit</a></td>

            <td><form action="/classes/{{ gym_class.id }}/delete" method="post">
                    <input class="submit-button" type="submit" value="Delete">
                </form>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock content %}