{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <div class="form-box-parent">
        <form class="form-box" action="/classes" method="post">
            <div>
                <label for="description">Description: </label>
                <input type="text", id="description", name="description", placeholder="Description" required>
            </div>
            <br>
            <div>
                <label for="duration">Duration: </label>
                <input type="text", id="duration", name="duration", placeholder="Duration in Mins" required>
            </div>
            <br>
            <div>
                <label for="available_slots">Available Slots: </label>
                <input type="text", id="available_slots", name="available_slots", placeholder="Available Slots" required>
            </div>
            <br>
            <div>
                <label for="type">Type: </label>
                <input type="text", id="type", name="type", placeholder="Cardio, Strength, etc" required>
            </div>
            <br>
            <input class="submit-button" type="submit", value="Register Class">
        </form>
    </div>

{% endblock content %}