{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div id="margin-block">
    <div class="block-for-info color-white">
        <p><b>Description:</b> {{ gym_class.description }}</p>
        <p><b>Duration:</b> {{ gym_class.duration }} mins</p>
        <p><b>Available Slots:</b> {{ gym_class.available_slots }}</p>
        <p><b>Type:</b> {{ gym_class.type }}</p>
    </div>
    <br>
    <h3 class="block-for-info color-white">Members Attending:</h3>
    <br>
    <ul id="flex-block">
<div class="block-for-info members-attending" id="text-font">
        {% for member in members %}

        <li id="edit-member-padding"><a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a></li>
        {% endfor %}
    </div>
    </ul>
</div>
{% endblock content %}