{% extends 'base.html' %}

{% block content %}

<br>
<br>
    
    <div class="block-for-info">
        <p><b>Description:</b> {{ gym_class.description }}</p>
        <p><b>Duration:</b> {{ gym_class.duration }} mins</p>
        <p><b>Available Slots:</b> {{ gym_class.available_slots }}</p>
        <p><b>Type:</b> {{ gym_class.type }}</p>
    </div>
    <h3>Members Attending:</h3>
    <ul>

        {% for member in members %}

        <li><a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a></li>

        {% endfor %}

    </ul>

{% endblock content %}