{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div id="margin-block">
    <div class="block-for-info color-white" id="text-font">
        <h1>{{ member.first_name }} {{ member.last_name }}</h1>

        <p>Account Credit: {{ member.wallet }}</p>

        <p>Current Membership: <u id="{{ membership.type}}-color">{{ membership.type }}</u></p>

        <a href="/members/{{ member.id }}/upgrade" class="submit-button">Upgrade Member</a>
    </div>
    <br>
</div>
    <div id="margin-block" class="block-for-info">
        <h3 class="color-white" id="text-font">Classes Attending:</h3>
    </div>       
    <br>
        <table class="table_classes">
            <tr>
                <th>Type</th>
                <th>Description </th>
            </tr>

            {% for gym_class in gym_classes %}

            <tr>
                <td>{{ gym_class.type }}</td>
                <th><a href="/classes/{{ gym_class.id }}">{{ gym_class.description }}</a></th>
            </tr>

            {% endfor %}

        </table> 
{% endblock content %}