{% extends 'base.html' %}

{% block content %}
    
    <h1>{{ member.first_name }} {{ member.last_name }}</h1>

    <p>Account Credit: {{ member.wallet }}</p>

    <p>Current Membership: {{ membership.type }}</p>

    <a href="/members/{{ member.id }}/upgrade"><button>Upgrade Member</button></a>

    <h3>Classes Attending:</h3>
                
    <table>
        <tr>
            <th>Type</th>
            <th></th>
            <th>Description </th>

        </tr>

        {% for gym_class in gym_classes %}

        <tr>
            <td>{{ gym_class.type }}</td>
            <td>|</td>
            <th><a href="/classes/{{ gym_class.id }}">{{ gym_class.description }}</a></th>
        </tr>

        {% endfor %}

    </table> 
{% endblock content %}