{% extends 'base.html' %}

{% block content %}

    {% for membership in memberships %}

    <div>
        <p>{{ membership.type }} Membership</p>
        <p>This membership includes <b>{{ membership.free_classes }}</b> classes.</p>
        <p>£{{ membership.cost }}</p>
        <form action="/members/{{ member.id }}/upgrade" method="post">
            <input type="hidden" name="membership_id" value="{{ membership.id }}">
            <input type="submit" value="Upgrade">
        </form>
    </div>

    {% endfor %}
    
{% endblock content %}  