/* Main Page */

html {
    min-height: 100%;
    height: 100%;
    background-image: url(/static/images/lotr.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#home-heading {
    font-family: 'Roboto', sans-serif;
}

p, #text-font {
    font-family: 'Saira Condensed', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#error {
    color: red;
    font-size: x-large;
    font-family: 'Coda', cursive;
}

header {
    background: rgb(221, 107, 0);
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 0;
    width: 20%;
    height: 20%;
}

nav {
    float: right;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 31px;

    position: relative;
}

nav li a {
    color: #dddddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav li a:hover{
    color: #000
}

nav li a::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 150ms;
}

nav li a:hover::before {
    width: 100%;
}

.grid-container-home {
    display: block;
}

.left-box {
    width: 20%;
    height: 100%;
    padding: 1em;
    padding-top: 15vh;
    /* position: relative; */
}

.left-box-intro {
    color: white;
    text-transform: uppercase;
    line-height: 0.9;
    margin: 0;
}

#home-heading {
    color: yellowgreen;
    font-size: 30px;
}

.left-box-intro::after {
    background-color: rgb(197, 95, 0);
    content: '';
    inset: 0;
    position: fixed;
    width: 20%;
    height: 100%;
    inset: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

.color-white {
    color: white;
}

#margin-block {
    margin: auto;
    width: 20%;
}

#upgrade-form-padding {
    padding-top: 5px;
}

#edit-member-padding {
    padding: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#Free-color {
    color: rgb(179, 101, 28);
}

#Silver-color {
    color: silver;
}

#Gold-color {
    color: gold;
}

#flex-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-evenly;
}

.block-for-info {   
    background: rgb(255, 115, 0, .5);
    border-radius: 15px;
    outline: 1px solid white;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.block-for-info p {
    padding: 5px;
}

.block-for-info a {
    text-decoration: none;
    color: white;
}

.table_classes {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 115, 0, .5);
    /* border-collapse: collapse; */
    width: 45%;
    margin-left: 28%;
    border-radius: 15px;
    outline: 1px solid white;
}

.table_classes td, .table_classes th {
    padding: 15px;
    color: #ffffff;
}

.table_classes a:link {
    text-decoration: none;
    color: white;
}

.table_classes a {
    color: white;
}

.table_classes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    font-size: larger;
}

.members-attending {
    text-align: center;
    margin: auto;
    width: 50%;
}

/* ------------------------------------------------ */
/* Form Styling */

.form-box-parent {
    display: flex;
}

.form-box {
    margin: auto;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

    color: white;

    padding: 20px;
    background-color: rgb(255, 115, 0, .5);

    border-radius: solid;
    outline: white solid 1.3px;
    
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
    max-width: 300px;
}

.edit-padding {
    padding: 10px;
}

a.submit-button {
    display: inline-block;
    padding: 0.1em .5em;
    border: 0.1em solid #ffffff;
    border-radius: .12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    transition: all .2s;
}

a.submit-button:hover{
    color: #000000;
    background-color: #ffffff;
}

input.submit-button {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.2em .50em;
    border: 0.1em solid #ffffff;
    border-radius: .12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
    color: #ffffff;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
}

input.submit-button:hover{
    color: #000000;
    background-color: #ffffff;
}

#new-classes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}