<!DOCTYPE html>
<html>
<head>
  <title>AragainGym - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Roboto:wght@300&family=Saira+Condensed:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  <header class="clear-fix">
    <div class="header-container">
      <img class="logo" src="/static/images/aragainslogo.png" alt="GymLogo">
        <nav class="nav-bar">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/classes">Classes</a>
            </li>
            <li>
              <a href="/members">Members</a>
            </li>
            <li>
              <a href="/members/register">Register Member</a>
            </li>
            <li class="push-right">
              <a href="/bookings">Bookings</a>
            </li>
          </ul>
        </nav>
    </div>
  </header>
<body>

  <main class="container">
  <section id="content">
      {% block content %}

      {% endblock content %}
  </section>
  </main>
</body>
<footer>
  <p>&copy;AragainsGym</p>
</footer>
</html>